rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId} {
    	allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.role == 'student';
    }
    
    match /userSubjectsState/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /universities/{universityId} {
    	allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
    }
    
    match /colleges/{collegeId} {
    	allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
    }
    
    match /degrees/{degreeId} {
    	allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
    }
    
    match /subjects/{subjectId} {
    	allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
    }
  }
}